name: Email News Cron

on:
  schedule:
    - cron: '30 0 * * *'      # 6:00 AM IST
    - cron: '30 2 * * *'      # 8:00 AM IST
    - cron: '0 4 * * *'       # 9:30 AM IST
    - cron: '30 4 * * *'      # 10:00 AM IST
    - cron: '30 5 * * *'      # 11:00 AM IST
    - cron: '0 7 * * *'       # 12:30 PM IST
    - cron: '30 7 * * *'      # 1:00 PM IST
    - cron: '30 9 * * *'      # 3:00 PM IST
    - cron: '0 11 * * *'      # 4:30 PM IST
    - cron: '10 12 * * *'     # 5:40 PM IST
    - cron: '30 12 * * *'     # 6:00 PM IST
    - cron: '30 14 * * *'     # 8:00 PM IST
    - cron: '30 15 * * *'     # 9:00 PM IST
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      API_KEY: ${{ secrets.API_KEY }}
      APP_PASSWD: ${{ secrets.APP_PASSWD }}
      SENDER_EMAIL: ${{ secrets.SENDER_EMAIL }}
      RECEIVER_EMAIL: ${{ secrets.RECEIVER_EMAIL }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Compile Java files
        run: javac src/Main.java src/API_GET.java

      - name: Run Java Main
        run: java -cp src Main
